/**
 * @author David, Christan
 * @date 09/20/2016
 */

/* Variables and mixins */

$black: #000;
$white: #fff;

@mixin bgImg($img-path, $repeat: no-repeat, $size: cover) {
  background: {
    image: linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)),
    url($img-path);
    repeat: $repeat;
    size: $size;
  }
}

/* Styles */

#login {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
}

.login {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  @include bgImg('/assets/images/home-bg.jpg');
}

.login-wrapper {
  position: absolute;
  padding-top: 10%;
  left: 35%;
}

.login-desc {
  background: $white;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.2);
  padding: 5em 8em 8em;
}

.email, .password {
  padding: 1em;
}