<!DOCTYPE html>
<html lang="en">
	<head>
	  <!-- Required -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>AstroMeet | About</title>
    <!-- Design and CSS -->
		<link type="image/png" rel="shortcut icon" href="images/favicon.png" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
		<link type="text/css" rel="stylesheet" href="style.css" />
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="../../assets/css/ie10-viewport-bug-workaround.css" />
    <!-- JS-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/efd75aa873.js"></script>
	</head>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">AstroMeet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-center">
            <li><a href="about.html">About</a></li>
            <li><a href="connections.html">Connections</a></li>
            <li><a href="matches.html">Find Matches</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://instagram.com"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- About -->
    <div id="connections">
      <div class="connections-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <!-- Panel -->
              <div class="panel panel-default">
                <div class="panel-heading c-list">
                  <span class="title">Contacts</span>
                </div>
                  <!-- Contact List -->
                  <ul class="list-group" id="contact-list">
                    <!-- Contact 1 -->
                    <li class="list-group-item">
                      <div class="col-xs-12 col-sm-3">
                        <img src="http://brentwoodbaptist.com/images/person-generic.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                      </div>
                      <div class="col-xs-12 col-sm-9">
                        <span class="name">John Doe</span><br/>
                        <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="Atlanta, GA"></span>
                        <span class="visible-xs"> <span class="text-muted">Atlanta, GA</span><br/></span>
                        <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(770) 126-3321"></span>
                        <span class="visible-xs"> <span class="text-muted">(770) 126-3321</span><br/></span>
                        <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="john.doe@example.com"></span>
                        <span class="visible-xs"> <span class="text-muted">john.doe@example.com</span><br/></span>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                    <!-- Contact 2 -->
                    <li class="list-group-item">
                      <div class="col-xs-12 col-sm-3">
                        <img src="http://brentwoodbaptist.com/images/person-generic.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                      </div>
                      <div class="col-xs-12 col-sm-9">
                        <span class="name">John Doe</span><br/>
                        <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="Atlanta, GA"></span>
                        <span class="visible-xs"> <span class="text-muted">Atlanta, GA</span><br/></span>
                        <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(770) 126-3321"></span>
                        <span class="visible-xs"> <span class="text-muted">(770) 126-3321</span><br/></span>
                        <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="john.doe@example.com"></span>
                        <span class="visible-xs"> <span class="text-muted">john.doe@example.com</span><br/></span>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                    <!-- Contact 3 -->
                    <li class="list-group-item">
                      <div class="col-xs-12 col-sm-3">
                        <img src="http://brentwoodbaptist.com/images/person-generic.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                      </div>
                      <div class="col-xs-12 col-sm-9">
                        <span class="name">John Doe</span><br/>
                        <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="Atlanta, GA"></span>
                        <span class="visible-xs"> <span class="text-muted">Atlanta, GA</span><br/></span>
                        <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(770) 126-3321"></span>
                        <span class="visible-xs"> <span class="text-muted">(770) 126-3321</span><br/></span>
                        <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="john.doe@example.com"></span>
                        <span class="visible-xs"> <span class="text-muted">john.doe@example.com</span><br/></span>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                    <!-- Contact 4 -->
                    <li class="list-group-item">
                      <div class="col-xs-12 col-sm-3">
                        <img src="http://brentwoodbaptist.com/images/person-generic.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                      </div>
                      <div class="col-xs-12 col-sm-9">
                        <span class="name">John Doe</span><br/>
                        <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="Atlanta, GA"></span>
                        <span class="visible-xs"> <span class="text-muted">Atlanta, GA</span><br/></span>
                        <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(770) 126-3321"></span>
                        <span class="visible-xs"> <span class="text-muted">(770) 126-3321</span><br/></span>
                        <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="john.doe@example.com"></span>
                        <span class="visible-xs"> <span class="text-muted">john.doe@example.com</span><br/></span>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                    <!-- Contact 5 -->
                    <li class="list-group-item">
                      <div class="col-xs-12 col-sm-3">
                        <img src="http://brentwoodbaptist.com/images/person-generic.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                      </div>
                      <div class="col-xs-12 col-sm-9">
                        <span class="name">John Doe</span><br/>
                        <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="Atlanta, GA"></span>
                        <span class="visible-xs"> <span class="text-muted">Atlanta, GA</span><br/></span>
                        <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(770) 126-3321"></span>
                        <span class="visible-xs"> <span class="text-muted">(770) 126-3321</span><br/></span>
                        <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="john.doe@example.com"></span>
                        <span class="visible-xs"> <span class="text-muted">john.doe@example.com</span><br/></span>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                  </ul>
              </div><!-- panel panel-default -->
            </div><!-- col-md-4 -->
          
            <div class="col-md-8">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <span class="glyphicon glyphicon-comment"></span> John Doe
                  <div class="btn-group pull-right">
                    <!-- Panel Body -->
                    <div class="panel-body">
                      <!-- Chat -->
                      <ul class="chat">
                        <li class="left clearfix">
                          <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                          </span>
                          <div class="chat-body clearfix">
                            <div class="header">
                              <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                            </div>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                              dolor, quis ullamcorper ligula sodales.
                            </p>
                          </div>
                        </li>
                        <li class="right clearfix">
                          <span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                          </span>
                          <div class="chat-body clearfix">
                            <div class="header">
                              <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                              <strong class="pull-right primary-font">Bhaumik Patel</strong>
                            </div>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                              dolor, quis ullamcorper ligula sodales.
                            </p>
                          </div>
                        </li>
                        <li class="left clearfix">
                          <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                          </span>
                          <div class="chat-body clearfix">
                            <div class="header">
                              <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                            </div>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                              dolor, quis ullamcorper ligula sodales.
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div><!-- panel-body -->
                  </div><!-- btn-group pull-right -->
                </div><!-- panel-heading -->
              </div><!-- panel panel-primary -->
            </div><!-- col-md-8 -->
          </div><!-- row -->
        </div><!-- container-fluid -->
      </div><!-- connections-wrapper -->
	  </div><!-- connections -->
    
    <!--Footer -->
    <footer id="footer">
      <small>Copyright &copy; 2016 AstroMeet.</small>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- External JS file -->
    <script src="function.js"></script>
  </body>
</html>