<!DOCTYPE html>
<html lang="en">
	<head>
	  <!-- Required -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>AstroMeet | About</title>
    <!-- Design and CSS -->
		<link type="image/png" rel="shortcut icon" href="images/favicon.png" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
		<link type="text/css" rel="stylesheet" href="style.css" />
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="../../assets/css/ie10-viewport-bug-workaround.css" />
    <!-- JS-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/efd75aa873.js"></script>
	</head>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">AstroMeet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-center">
            <li><a href="about.html">About</a></li>
            <li><a href="connections.html">Connections</a></li>
            <li><a href="matches.html">Find Matches</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://instagram.com"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Login -->
    <div id="auth">
      <div class="container">
        <div class="auth-wrapper">
          <div class="auth-desc">
            <div class="col-md-4 col-md-offset-4">
      				<div class="form-group">
      					<label for="usr">Email Address:</label>
      					<input type="email" class="form-control" name="email" placeholder="Enter your email address">
      				</div>
      				<div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter your password">
              </div>
              <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
              </div>
      				<a class="btn btn-primary" href="index.html" role="button">Submit</a>
      			</div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Footer -->
    <footer id="footer">
      <small>Copyright &copy; 2016 AstroMeet.</small>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>