<!DOCTYPE html>
<html lang="en">
	<head>
	  <!-- Required -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>AstroMeet | About</title>
    <!-- Design and CSS -->
		<link type="image/png" rel="shortcut icon" href="images/favicon.png" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
		<link type="text/css" rel="stylesheet" href="style.css" />
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="../../assets/css/ie10-viewport-bug-workaround.css" />
    <!-- JS-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/efd75aa873.js"></script>
	</head>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">AstroMeet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-center">
            <li><a href="about.html">About</a></li>
            <li><a href="connections.html">Connections</a></li>
            <li><a href="matches.html">Find Matches</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://instagram.com"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- About -->
    <div id="profile">
      <div class="container">
        <div class="profile-wrapper">
          <div class="profile-title">
            <h2>Profile</h2>
          </div>
          <div class="row">
            <div class="col-md-4">
              <img class="img-circle" src="http://brentwoodbaptist.com/images/person-generic.jpg" style="height: 100%; width: 150px">
            </div>
            <div class="col-md-8">
              <div class="profile-desc">
                <h2>50 connections</h2>
                <a class="btn btn-primary" href="#" role="button">Edit Profile</a> <a class="btn btn-primary" href="#" role="button">Settings</a>
                <div class="profile-icons">
                  <span class="text-muted">
                    <a href="#"><i class="fa fa-comments"></i></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                    <a href="#"><i class="fa fa-ban"></i></a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Photos -->
        <div class="photos-wrapper">
          <div class="photos-title">
            <h2>Photos</h2>
          </div>
          <!-- Row 1 -->
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="https://static.pexels.com/photos/1848/nature-sunny-red-flowers.jpg">
            </div>
            <div class="col-md-4">
              <img class="img-responsive" src="http://www.handyman-austin.com/wp-content/uploads/2015/01/Buildings.jpg">
            </div>
            <div class="col-md-4">
              <img class="img-responsive" src="http://www.pawderosa.com/images/puppies.jpg">
            </div>
          </div>
          <!-- Row 2 -->
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="https://static.pexels.com/photos/1826/wood-nature-sunny-forest.jpg">
            </div>
            <div class="col-md-4">
              <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Ogi_Shirakawa02bs3200.jpg">
            </div>
            <div class="col-md-4">
              <img class="img-responsive" src="http://upshout.net/wp-content/uploads/2015/06/dwarf-kitten-01.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Footer -->
    <footer id="footer">
      <small>Copyright &copy; 2016 AstroMeet.</small>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- External JS file -->
    <script src="function.js"></script>
  </body>
</html>