<!DOCTYPE html>
<html lang="en">
	<head>
	  <!-- Required -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>AstroMeet | About</title>
    <!-- Design and CSS -->
		<link type="image/png" rel="shortcut icon" href="images/favicon.png" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
		<link type="text/css" rel="stylesheet" href="style.css" />
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="../../assets/css/ie10-viewport-bug-workaround.css" />
    <!-- JS-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/efd75aa873.js"></script>
	</head>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">AstroMeet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-center">
            <li><a href="about.html">About</a></li>
            <li><a href="connections.html">Connections</a></li>
            <li><a href="matches.html">Find Matches</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://instagram.com"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Login -->
    <div id="auth">
      <div class="container">
        <div class="auth-wrapper">
          <div class="auth-desc">
            <div class="col-md-4">
      				<div class="form-group">
      				  
      				  <!-- First Name -->
                <div class="form-group">
                  <label for="first name">First name:</label>
                  <input type="first name" class="form-control" id="first name" placeholder="Enter first name">
                </div>
              
                <!-- Last name -->
                <div class="form-group">
                  <label for="last name">Last name:</label>
                  <input type="last name" class="form-control" id="last name" placeholder="Enter your last name">
                </div>
                
                <!-- Email address-->
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter your email address">
                </div>
                
                <!-- Phone number-->
                <div class="form-group">
                  <label for="phone">Phone number:</label>
                  <input type="phone" class="form-control" id="phone" placeholder="Enter your phone number">
                </div>
                
                <!-- Password -->
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Enter your password">
                </div>
                
                <!-- Password confirmation -->
                <div class="form-group">
                  <label for="pwd">Password confirmation:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Confirm your password">
                </div>
                
              </div>
            </div>
            
            <div class="col-md-8 offset-md-8">
              <table class="calendar">
                <th colspan="4">
                  Calendar
                </th>
                <tr>
                  <td>Jan</td><td>Feb</td><td>Mar</td><td>Apr</td>
                </tr>
                <tr>
                  <td>May</td><td>Jun</td><td>Jul</td><td>Aug</td>
                </tr>
                <tr>
                  <td>Sept</td><td>Oct</td><td>Nov</td><td>Dec</td>
                </tr>
              </table>
              <a class="btn btn-primary" href="index.html" role="button">Submit</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    <!-- Footer -->
    <footer id="footer">
      <small>Copyright &copy; 2016 AstroMeet.</small>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>