
/* Find Matches */

#matches {
  background-color: #e6ebb7;
}

.matches-wrapper {
  color: #473e3e;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 6em 0 5em 0;
}

.matches-title h1 {
  font-family: 'Bree Serif', serif;
  font-size: 80px;
}

/* Profile */



/* Footer */

#footer {
  text-align: center;
}

/* Media queries*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  .index-wrapper { padding-top: 10em; }
  .index-name { font-size: 25px; } }