/**
 * @author David, Christan
 * @date 09/20/2016
 */

#auth {
  height: 100%;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2)
    ),
    url(images/people-street.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.auth-wrapper {
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding-top: 10em;
}

table, th, tr, td {
  color: #db7827;
  background-color: #fff;
  border: 1px solid #db7827;
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  transition: 0.2s linear;
}

td:hover {
  color: #fff;
  background-color: #db7827;
  transition: 0.2s linear;
}

.calendar {
  width: 100%;
  height: 100px;
  margin: 5em 0 2em 0;
}