/**
 * @author David, Christan
 * @date 09/20/2016
 */

/* Variables and mixins */

$black: #000;
$white: #fff;
$orange: #db7827;

@mixin bgImg($img-path, $repeat: no-repeat, $size: cover) {
  background: {
    image: linear-gradient(
                    rgba(0, 0, 0, 0.4),
                    rgba(0, 0, 0, 0)),
    url($img-path);
    repeat: $repeat;
    size: $size;
  }
}

/* Styles */

#auth {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
}

.auth {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  @include bgImg('/assets/images/home-bg.jpg');
}

.auth-wrapper {
  color: $white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding-top: 10em;
}
