/**
 * @author Christan
 * @date 10/3/2016
 */

/* Variables */

$white: #fff;
$black: #000;
$gray: #473e3e;
$green: #097a5a;
$darkgreen: #046b4e;
$yellow: #9dad37;
$darkyellow: #8e9e2e;
$raleway: 'Raleway', sans-serif;
$transition: 0.2s ease-in-out;

/* Mixins */

@mixin pageMargin($margin) {
  margin: $margin;
}

@mixin flexWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@mixin backgroundTile {
  box-sizing: border-box;
  background: $white;
  border-radius: 2px;
  box-shadow: 2px 2px 5px 2px rgba($gray, 0.2);
  padding: 0.6em 0.6em;
}

@mixin customButton($bgcolor) {
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  background: $bgcolor;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba($black, 0.2);
  padding: 5px 15px 5px 15px;
}

@mixin animatedButton {
  width: 100px;
  position: absolute;
  left: -6.5em;
  opacity: 1;
}

/* Profile */

#profile {
  font-family: $raleway;

  /* Profile Header */

  #user {
    @include pageMargin(10em 0 0);

    .user-wrapper {
      margin: 0 auto;
      text-align: center;
      @include flexWrapper;

      .user-img {
        position: relative;
        margin: 0 5em;
        transition: $transition;

        img {
          height: 100%;
          width: 160px;
        }

        .btn-update {
          width: 100px;
          position: absolute;
          top: 50%;
          right: 0;
          left: 0;
          z-index: -1;
          opacity: 0;
          transition: $transition;
          @include customButton($yellow);
        }

        &:hover {
          filter: brightness(0.8);

          .btn-update {
            transition: $transition;
            @include animatedButton;

            &:hover {
              text-decoration: none;
              background: $darkyellow;
            }

            &:active {
              background: rgba($darkyellow, 0.9);
              @include animatedButton;
            }
          }
        }

        &:active {
          filter: brightness(0.7);
        }
      }

      .user-desc {

        h2 {
          font-weight: 600;
          margin: 0 0 5px;
        }

        h3 {
          margin: 0 0 7.5px;
        }

        h4 {
          display: inline;
          margin: 0 5px 0 5px;
        }

        p {
          margin: 5px 0 15px 0;
        }

        .btn-photo {
          transition: $transition;
          @include customButton($darkgreen);

          &:hover {
            text-decoration: none;
            background: $green;
          }

          &:active {
            background: rgba($green, 0.9);
          }
        }

        .btn-profile {
          transition: $transition;
          @include customButton($yellow);

          &:hover {
            text-decoration: none;
            background: $darkyellow;
          }

          &:active {
            background: rgba($darkyellow, 0.9);
          }
        }
      }
    }
  }

  /* Photos */

  #photos {
    @include pageMargin(2em 0 6em);

    .photos-wrapper {

      img {
        height: 250px;
        width: 500px;
        margin-top: 2em;
        transition: $transition;
        @include backgroundTile;

        &:hover {
          filter: contrast(1.2);
        }

        &:active {
          filter: contrast(1.3);
        }
      }
    }
  }
}
