/**
 * @author Christan
 * @date 10/3/2016
 */

/* Variables and mixins */

$gray = #473e3e;
$black = #000;
$white = #fff;
$orange = #db7827;

@mixin customButton {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 30px 10px 30px;
  transition: 0.2s ease-in-out;
}

/* Styles */

#profile {
  background: $white;
}

.profile-wrapper, .photos-wrapper {
  color: $gray;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 6em 0 0 0;
}

.profile-title h2, .photos-title h2 {
  font-family: 'Bree Serif', serif;
  font-size: 80px;
}

.profile-desc, .photos-desc {
  border: 1px dashed $black;
}

.btn-primary {
  color: $white;
  border-color: $white;
  @customButton;

  &:hover {
    color: $black;
    background-color: $white;
    border-color: $white;
    transition: 0.2s ease-in-out;
  }
}

.btn-default {
  color: $orange;
  border-color: #orange;
  @customButton;

  &:hover {
    color: $white
    background-color: $orange;
    border-color: $orange;
    transition: 0.2s ease-in-out;
  }
}