/**
 * @author Christan
 * @date 10/3/2016
 */

#profile {
  background: #fff;
}

.profile-wrapper, .photos-wrapper {
  color: #473e3e;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 6em 0 0 0;
}

.profile-title h2, .photos-title h2 {
  font-family: 'Bree Serif', serif;
  font-size: 80px;
}

.profile-desc, .photos-desc {
  border: 1px dashed #000;
}

.btn-primary {
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
  border-radius: 3%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 30px 10px 30px;
  transition: 0.2s ease-in-out;

  &:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    transition: 0.2s ease-in-out;
  }
}

.btn-default {
  text-transform: uppercase;
  color: #db7827;
  background-color: rgba(0, 0, 0, 0);
  border-color: #db7827;
  border-radius: 3%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 30px 10px 30px;
  transition: 0.2s ease-in-out;

  &:hover {
    color: #fff;
    background-color: #db7827;
    border-color: #db7827;
    transition: 0.2s ease-in-out;
  }

}