<!--
 - @author Christan
 - @date 11/26/2016
 -->

<section id="matches">

    <!-- Selection -->
    <div id="selection">
        <div class="selection-wrapper">

            <!-- Row 1 -->
            <div class="row">
                <div class="col-md-4">
                    <div class="selection-card">
                        <div class="selection-img">
                            <img class="img-responsive" src="/assets/images/adrianna.jpg">
                        </div>
                        <div class="selection-desc">
                            <h4><b>Adrianna Valdivia</b></h4>
                            <h5>(sign)</h5>
                            <h6>50 connections</h6>
                            <p>I <3 astrology.</p>
                        </div>
                        <span class="selection-icon">
                            <a ng-click="acceptUser()"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
                            <a ng-click="declineUser()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="selection-card">
                        <div class="selection-img">
                            <img class="img-responsive" src="/assets/images/david.jpg">
                        </div>
                        <div class="selection-desc">
                            <h4><b>David Edwards</b></h4>
                            <h5>Capricorn</h5>
                            <h6>50 connections</h6>
                            <p>I'm David!</p>
                        </div>
                        <span class="selection-icon">
                            <a ng-click="acceptUser()"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
                            <a ng-click="declineUser()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="selection-card">
                        <div class="selection-img">
                            <img class="img-responsive" src="/assets/images/christan.jpg">
                        </div>
                        <div class="selection-desc">
                            <h4><b>Christan de Luna</b></h4>
                            <h5>Leo</h5>
                            <h6>50 connections</h6>
                            <p>Meow.</p>
                        </div>
                        <span class="selection-icon">
                            <a ng-click="acceptUser()"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
                            <a ng-click="declineUser()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="row">
                <div class="col-md-4">
                    <div class="selection-card">
                        <div class="selection-img">
                            <img class="img-responsive" src="/assets/images/ashutosh.jpg">
                        </div>
                        <div class="selection-desc">
                            <h4><b>Ashutosh Sharma</b></h4>
                            <h5>Scorpio</h5>
                            <h6>50 connections</h6>
                            <p>I'm Ashutosh!</p>
                        </div>
                        <span class="selection-icon">
                            <a ng-click="acceptUser()"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
                            <a ng-click="declineUser()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="selection-card">
                        <div class="selection-img">
                            <img class="img-responsive" src="/assets/images/john.jpg">
                        </div>
                        <div class="selection-desc">
                            <h4><b>John Holcombe</b></h4>
                            <h5>(sign)</h5>
                            <h6>50 connections</h6>
                            <p>I'm John!</p>
                        </div>
                        <span class="selection-icon">
                            <a ng-click="acceptUser()"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
                            <a ng-click="declineUser()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="selection-card">
                        <div class="selection-img">
                            <img class="img-responsive" src="/assets/images/bhavan.jpg">
                        </div>
                        <div class="selection-desc">
                            <h4><b>Bhavan Patel</b></h4>
                            <h5>(sign)</h5>
                            <h6>50 connections</h6>
                            <p>I'm Bhavan!.</p>
                        </div>
                        <span class="selection-icon">
                            <a ng-click="acceptUser()"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
                            <a ng-click="declineUser()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                        </span>
                    </div>
                </div>
            </div>

        </div><!-- selection-wrapper -->
    </div><!-- selection -->

</section>
