<!--
 - @author Christan
 - @date 10/3/2016
 -->

<section id="connections">

  <!-- Contacts -->
  <div id="contacts">
    <div class="contacts-wrapper" ng-class="{ collapse: isCollapsed }">
      <ul class="contacts-nav">
        <li class="contacts-title">
          <h3>Connections</h3>
        </li>
        <li class="contacts-connections">
          <a ng-click="userChat()">Adrianna Valdivia</a>
        </li>
        <li class="contacts-connections">
          <a ng-click="userChat()">David Edwards</a>
        </li>
        <li class="contacts-connections">
          <a ng-click="userChat()">Ashutosh Sharma</a>
        </li>
        <li class="contacts-connections">
          <a ng-click="userChat()">Christan de Luna</a>
        </li>
        <li class="contacts-connections">
          <a ng-click="userChat()">John Holcombe</a>
        </li>
        <li class="contacts-connections">
          <a ng-click="userChat()">Bhavan Patel</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Chat -->
  <div id="chat">
    <div class="chat-wrapper">
      <div class="chat-toggle">
        <a class="btn-bar" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

</section>
