<!--
 - @author Christan
 - @date 10/3/2016
 -->

<section id="connections">

  <!-- Contacts -->
  <div id="contacts">
    <div class="contacts-wrapper" ng-class="{ collapse: isCollapsed }">
      <ul class="contacts-nav">
        <li class="contacts-title">
          <h3>Connections</h3>
        </li>
        <li class="contacts-connections">
          <a ng-click="userChat()">Adrianna Valdivia</a>
        </li>
        <li class="contacts-connections">
          <a ng-click="userChat()">David Edwards</a>
        </li>
        <li class="contacts-connections">
          <a ng-click="userChat()">Ashutosh Sharma</a>
        </li>
        <li class="contacts-connections">
          <a ng-click="userChat()">Christan de Luna</a>
        </li>
        <li class="contacts-connections">
          <a ng-click="userChat()">John Holcombe</a>
        </li>
        <li class="contacts-connections">
          <a ng-click="userChat()">Bhavan Patel</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Chat -->
  <div id="chat">
    <div class="chat-wrapper">

      <!-- Chat Toggle -->
      <div class="chat-toggle">
        <a class="btn-bar" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
      </div>

      <!-- Chat Border -->
      <div class="chat-border">
        <div class="container">
          <ul class="chat-receiver">
            <li>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet magna ac tempus faucibus. Cras et mi dapibus sapien rutrum maximus id ut dui. Duis convallis nisi ut nisi elementum porta. Pellentesque elit augue, scelerisque ut maximus nec, facilisis ac est. Morbi auctor, erat non consectetur bibendum, velit massa pellentesque magna, non consequat turpis nisi non velit. Pellentesque at nunc non tortor ultricies lacinia sed quis lorem. Nulla varius gravida arcu, vitae placerat mauris gravida vel. Praesent et ex id nibh ornare consectetur volutpat ut ligula. Donec nisi tortor, egestas at ante id, condimentum hendrerit leo. Suspendisse potenti.</span>
            </li>
          </ul>
          <ul class="chat-sender">
            <li>
              <span>Nam dapibus quam vel lectus viverra fringilla. Praesent gravida odio non tincidunt consequat. Phasellus blandit varius egestas. Praesent enim risus, elementum quis efficitur quis, posuere nec metus. Donec lectus arcu, blandit ut euismod dictum, finibus in metus. Aenean scelerisque molestie tellus, a fringilla lectus vulputate ut. In pretium nec magna ut luctus. Integer imperdiet rutrum ipsum, id ornare metus euismod eu. Phasellus nec vulputate enim.</span>
            </li>
          </ul>
          <ul class="chat-receiver">
            <li>
              <span>Cras quis viverra nibh. Vivamus lacus ante, sagittis in purus eget, rhoncus dignissim quam. Suspendisse et nulla sed nunc lacinia venenatis eget a purus. Etiam malesuada nibh enim, non elementum turpis pharetra ac. Morbi malesuada vel urna vel dictum. Aenean nunc sapien, interdum ac finibus eu, euismod vitae elit. Fusce efficitur ullamcorper nulla, in ultricies enim facilisis eget. Nam ut lacus viverra, dictum orci non, tincidunt neque. Pellentesque dolor erat, lacinia at arcu quis, sollicitudin imperdiet quam. Etiam interdum sed lorem at sollicitudin.</span>
            </li>
          </ul>
          <ul class="chat-receiver">
            <li>
              <span>u w0t m8</span>
            </li>
          </ul>
          <ul class="chat-sender">
            <li>
              <span>Gluten-free tattooed scenester, listicle meh edison bulb art party roof party vaporware cred humblebrag. Coloring book mixtape yuccie, YOLO scenester DIY vinyl vegan readymade. Heirloom beard venmo godard tattooed drinking vinegar, mumblecore enamel pin trust fund letterpress authentic chia. Retro fingerstache raw denim chillwave jianbing air plant. Edison bulb lomo etsy schlitz. Semiotics cornhole cold-pressed shabby chic. Heirloom meh tousled, mlkshk cliche food truck banh mi lyft pour-over thundercats.</span>
            </li>
          </ul>
          <ul class="chat-sender">
            <li>
              <span>pls</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Chat Input -->
      <div class="chat-input">
        <form name="form" ng-submit="sendMessage()">
          <input class="input" name="message" type="text" placeholder="Type a message here" ng-model="newMessage" required>
          <button class="btn-plus" ng-disabled="form.$invalid">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </form>
      </div>

    </div>
  </div>

</section>
