/**
 * @author Christan
 * @date 10/3/2016
 */

/* Variables */

$white: #fff;
$black: #000;
$green: #097a5a;
$darkgreen: #046b4e;
$raleway: 'Raleway', sans-serif;
$transition: 0.2s ease-in-out;

/* Mixins */

@mixin pageMargin($margin) {
  margin: $margin;
}

@mixin wrapperPosition {
  height: 100%;
  width: 250px;
  position: fixed;
  left: 250px;
  margin-left: -250px;
  overflow-y: auto;
}

@mixin navPosition {
  width: 250px;
  position: absolute;
  top: 0;
  margin: 5em 0;
  padding: 0;
}

@mixin chatBox($color, $bgcolor, $padding) {
  color: $color;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba($black, 0.1);
  background: $bgcolor;
  border-radius: 10px;
  box-shadow: 2px 4px 3px rgba($black, 0.2);
  line-height: 20px;
  min-height: 50px;
  position: relative;
  margin-bottom: 10px;
  padding: $padding;
}

@mixin chatPosition($float) {
  list-style: none;
  float: $float;
}

/* Contacts */

#connections {
  font-family: $raleway;

  #contacts {

    .contacts-wrapper {
      background: $green;
      @include wrapperPosition;

      .contacts-nav {
        list-style: none;
        text-indent: 20px;
        @include navPosition;

        .contacts-title {

          h3 {
            color: $white;
            background: rgba($white, 0.1);
            display: block;
            padding: 20px 0;
          }
        }

        .contacts-connections {
          line-height: 40px;

          a {
            color: $white;
            display: block;
            cursor: pointer;
            transition: $transition;

            &:hover {
              font-weight: 600;
              text-decoration: none;
              text-shadow: 2px 2px 2px rgba($black, 0.3);
              padding-left: 5px;
              background: rgba($white, 0.1);
            }

            &:active {
              background: rgba($white, 0.2);
            }
          }
        }
      }
    }
  }
}

  /* Chat */

  #chat {

    //.chat-wrapper {
    //  position: absolute;
    //  @include pageMargin(7.75em 0);
    //
    //  .chat-toggle {
    //
    //    i {
    //      color: rgba($black, 0.6);
    //      font-size: 30px;
    //      transition: $transition;
    //
    //      &:hover {
    //        color: rgba($black, 0.4);
    //      }
    //    }
    //  }
    //}

    .chat-border {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 12%;
      left: 0;
      padding: 30px;

      .chat-receiver {
        padding-left: 0;
        @include chatPosition(left);

        li {
          transition: $transition;
          @include chatBox($black, rgba($black, 0.2), 15px 15px 15px 30px);
        }
      }

      .chat-sender {
        @include chatPosition(right);

        li {
          transition: $transition;
          @include chatBox($white, $green, 15px 30px 15px 15px);
        }
      }
    }
  }

