/**
 * @author Christan
 * @date 10/10/2016
 */

/* Variables and mixins */

$white: #fff;
$orange: #db7827;

@mixin bgImg($img-path, $repeat: no-repeat, $size: cover) {
  background: {
    image: linear-gradient(
                    rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 0.2)),
    url($img-path);
    repeat: $repeat;
    size: $size;
  }
}

/* Styles */

#auth {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  @include bgImg('/assets/images/home-bg.jpg');
}

.auth-wrapper {
  color: $white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding-top: 10em;
}

table, th, tr, td {
  color: $orange;
  background-color: $white;
  border: 1px solid $orange;
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  transition: 0.2s linear;

  &:hover {
    color: $white;
    background-color: $orange;
    transition: 0.2s linear;
  }
}

.calendar {
  width: 100%;
  height: 100px;
  margin: 5em 0 2em 0;
}