<!--

    If you are messing with this file, you probably shouldn't be. This file shouldn't change too much.

-->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title -->
  <title>AstroMeet | Home</title>
  <!-- Design and CSS -->
  <link rel="stylesheet" href="/assets/css/app.min.css" />
  <link rel="stylesheet" href="/lib/vendor.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body ng-app="app">

  <!-- Navigation bar -->
  <astromeet-nav></astromeet-nav>

  <div class="container">
      <div ui-view></div>
  </div>

  <am-footer></am-footer>


  <script src="/lib/vendor.js"></script>
  <script src="/app/app.js"></script>


</body>
</html>