<!--

    If you are messing with this file, you probably shouldn't be. This file shouldn't change too much.

-->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title -->
  <title>AstroMeet | Home</title>
  <!-- Design and CSS -->
  <link rel="stylesheet" href="/assets/css/app.min.css" />
  <link rel="stylesheet" href="/lib/vendor.min.css" />

</head>

<body ng-app="app">
  <!-- Navigation bar -->
  <astromeet-nav></astromeet-nav>

  <div class="container">
      <div ui-view></div>
  </div>


  <!--&lt;!&ndash; About &ndash;&gt;-->
  <!--<div id="about">-->
    <!--<div class="container">-->
      <!--<div class="about-wrapper">-->
        <!--<h2 class="about-title">-->
          <!--About-->
        <!--</h2>-->
        <!--<p>Man braid humblebrag wolf ugh messenger bag lomo. Cliche gluten-free truffaut, portland ennui vice intelligentsia vaporware af yuccie 90's pinterest glossier edison bulb. Hammock vegan farm-to-table beard yr four dollar toast, street art quinoa-->
          <!--before they sold out pug lo-fi. Banjo you probably haven't heard of them fixie mustache crucifix shoreditch. Mustache chillwave cardigan sartorial shabby chic. Pitchfork cray selvage asymmetrical shabby chic. Offal ramps chartreuse retro chillwave,-->
          <!--+1 microdosing bushwick crucifix celiac irony air plant try-hard semiotics scenester.</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Filler &ndash;&gt;-->
  <!--<div id="filler">-->
    <!--<div class="container">-->
      <!--<div class="filler-wrapper">-->
        <!--<h2 class="filler-title">-->
          <!--Filler-->
        <!--</h2>-->
        <!--<p>Authentic tote bag ugh, 8-bit tbh before they sold out la croix tacos. Cliche you probably haven't heard of them live-edge, hashtag chillwave blue bottle snackwave aesthetic bitters pop-up jianbing four loko. Meh post-ironic master cleanse, woke-->
          <!--poutine mustache bicycle rights +1. Four loko sriracha pork belly waistcoat, chartreuse man braid thundercats la croix. Tilde williamsburg humblebrag, slow-carb tousled fingerstache yr +1. Irony green juice trust fund mumblecore prism. Kogi-->
          <!--affogato poutine, subway tile dreamcatcher XOXO small batch hashtag offal whatever chartreuse salvia jean shorts chambray plaid.</p>-->
        <!--<p>Everyday carry umami offal man bun vegan, thundercats schlitz sustainable. Bicycle rights beard knausgaard retro flannel, hammock leggings craft beer. Bicycle rights shabby chic cardigan, hell of seitan blue bottle retro bitters venmo crucifix-->
          <!--pour-over tattooed asymmetrical. Ennui fap woke health goth truffaut irony. Chartreuse readymade twee vice biodiesel. Health goth roof party hot chicken, mlkshk YOLO franzen woke raclette vice glossier distillery before they sold out. Offal-->
          <!--wolf YOLO, leggings actually af fam cred sriracha banjo gentrify raw denim.</p>-->
        <!--<p>Aesthetic poke yuccie, brunch banh mi readymade salvia sriracha af. Pabst mustache church-key, tousled meggings intelligentsia XOXO retro blog seitan affogato. Farm-to-table whatever bitters, prism copper mug fingerstache direct trade forage fam-->
          <!--microdosing church-key scenester. VHS blue bottle four dollar toast gochujang, af leggings hot chicken fingerstache XOXO fap. Tumblr keffiyeh letterpress freegan, sriracha hell of cred. Direct trade williamsburg cred, biodiesel unicorn sustainable-->
          <!--twee asymmetrical drinking vinegar vape single-origin coffee. Artisan flexitarian austin kale chips, godard thundercats cornhole tofu keytar gentrify marfa beard single-origin coffee ramps chartreuse.-->
        <!--</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Filler &ndash;&gt;-->
  <!--<div id="filler2">-->
    <!--<div class="container">-->
      <!--<div class="filler2-wrapper">-->
        <!--<h2 class="filler2-title">-->
          <!--Filler #2-->
        <!--</h2>-->
        <!--<p>Umami gluten-free brunch, chia bushwick next level you probably haven't heard of them skateboard gastropub thundercats fanny pack readymade synth jean shorts. Normcore authentic vape, vinyl ramps cronut street art tilde. Narwhal ethical leggings-->
          <!--fanny pack, swag readymade paleo franzen blog microdosing. Heirloom offal butcher, man braid quinoa green juice aesthetic. Jean shorts brunch mixtape trust fund, readymade direct trade schlitz kickstarter live-edge beard semiotics portland.-->
          <!--Trust fund humblebrag before they sold out put a bird on it. Humblebrag waistcoat yuccie meggings brooklyn.</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <am-footer></am-footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/lib/vendor.js"></script>
  <script src="/app/app.js"></script>


</body>
</html>