/**
 * @author Christan, Adrianna, David
 * @date 09/20/2016
 */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Bree+Serif|Slabo+27px);

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

/* Media queries */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .index-wrapper {
    padding-top: 12em;
  }
  .index-name {
    font-size: 25px;
  }
}