/**
 * @author David, Christan
 * @date 09/20/2016
 */

/* Variables and mixins */

$black: #000;
$white: #fff;
$orange: #db7827;

@mixin customText {
	color: $white;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	letter-spacing: 2px;
	transition: 0.2s ease-in-out;
}

/* Styles */

.navbar {
	padding: 20px 0 20px 0;
	border: 0;
}

.navbar-default .navbar-toggle, .navbar-collapse {
	border: 0;
	text-align: center;
	transition: 0.2s ease-in-out;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $white;
	transition: 0.2s ease-in-out;
}

.navbar-default .navbar-brand {
	font-family: 'Bree Serif', serif;
	font-size: 30px;
	text-transform: lowercase;
	@include customText;
}

.navbar-default .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar-default .navbar-nav li a {
	font-family: 'Slabo 27px', serif;
	font-size: 14px;
	text-transform: uppercase;
	@include customText;
}

.navbar-default .navbar-toggle:hover {
	background-color: $orange;
	transition: 0.2s ease-in-out;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
	color: $orange;
	transition: 0.2s ease-in-out;
}
