/**
 * @author Christan, Adrianna
 * @date 09/20/2016
 */

/* Variables and mixins */

$yellow: #e6ebb7;
$gray: #473e3e;

@mixin headerImg($img-path, $repeat: no-repeat, $size: 100% auto, $attachment: fixed, $position: 0 -10em) {
  background: {
    image: linear-gradient(
                    rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.6)),
    url($img-path);
    repeat: $repeat;
    size: $size;
    attachment: $attachment;
    position: $position;
  }
}

/* Styles */

body {
  height: 100%;
  margin: 0;
}

#about {
  background-size: cover;
  background-color: $yellow;
}

#about-header {
  padding-bottom: 35em;
  @include headerImg('/assets/images/fingers-buddies.jpg');
}

.about-wrapper {
  color: $gray;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 5em 0 5em 0;
}

.about-title h1 {
  font-family: 'Bree Serif', serif;
  font-size: 80px;
}

.about-desc p {
  font-size: 20px;
}
