/**
 * @author Christan, Adrianna
 * @date 09/20/2016
 */

@import url(https://fonts.googleapis.com/css?family=Raleway:300);

/* Variables and mixins */

$gray: #473e3e;
$raleway: 'Raleway', sans-serif;
$center: center;

@mixin headerImg($img-path, $repeat: no-repeat, $size: 100% auto, $attachment: fixed, $position: 0 -10em) {
  background: {
    image: linear-gradient(
                    rgba(0, 0, 0, 0.1),
                    rgba(0, 0, 0, 0.6)),
    url($img-path);
    repeat: $repeat;
    size: $size;
    attachment: $attachment;
    position: $position;
  }
}

/* Styles */

#about {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

#about-header {
  height: 70%;
  width: 100%;
  @include headerImg('/assets/images/ggc-about.jpg');
}

.about-title {
  font-family: $raleway;
  background-color: #fff;
  text-align: $center;
}

.about-content-wrapper {
  font-family: $raleway;
  text-align: $center;
}

.about-members img {
  height: 100%;
  width: 200px;
  margin-top: 3em;
}

.about-subtitle {
  margin-top: 3em;
}